%h3= "ZECRET: "
.zecret-display
  %pre
    = @zecret.body
.zecret-hidden
  = @zecret.body

%p
  %label
    Enter Zecret password to decrypt the Zecret.
    %br
    %input.password{ size: "100", maxlength: "64", type: "password" }
  %button.decrypt Decrypt Zecret!
  
%p.zecret-id= "ZECRET ID: #{@zecret.id}"
%p= "Use this ID to retrieve this Zecret."
